@model ExamGenerator.Models.Article

@{
    ViewData["Title"] = "CreateExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>

<h1>Create Exam</h1>
<br />
<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-8 offset-md-2">
        <form asp-action="CreateExam">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select id="select1" onchange="setArticleContent()" asp-for="title" class="form-control" asp-items="@(new SelectList(ViewBag.articleList,"content","title"))">
                    <option selected disabled>-- Choose an Article --</option>
                </select>
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <br />
            <div id="display">
                <p>Choose an article to view its content</p>
            </div>
            @*Questions*@
            <div>
                <div>
                    <label for="q1">Question 1:</label>
                    <input type="text" id="q1" name="q1" style="width:100%">
                </div>
                <br />
                <div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">A</span>
                        </div>
                        <input type="text" class="form-control" id="q1a" name="q1a">
                        <div class="input-group-prepend">
                            <span class="input-group-text">B</span>
                        </div>
                        <input type="text" class="form-control" id="q1b" name="q1b">
                    </div>
                </div>
                <div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">C</span>
                        </div>
                        <input type="text" class="form-control" id="q1c" name="q1c">
                        <div class="input-group-prepend">
                            <span class="input-group-text">D</span>
                        </div>
                        <input type="text" class="form-control" id="q1d" name="q1d">
                    </div>
                </div>
                <div class="form-group col-md-6 offset-3">
                    <select id="selectAnswer1" class="form-control">
                        <option selected disabled>-- Select Correct Answer --</option>
                        <option value ="A" >A</option>
                        <option value ="B" >B</option>
                        <option value ="C" >C</option>
                        <option value ="C" >D</option>
                    </select>
                </div>
            </div>
            <hr />
            <div>
                <div>
                    <label for="q2">Question 2:</label>
                    <input type="text" id="q2" name="q2" style="width:100%">
                </div>
                <br />
                <div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">A</span>
                        </div>
                        <input type="text" class="form-control" id="q2a" name="q2a">
                        <div class="input-group-prepend">
                            <span class="input-group-text">B</span>
                        </div>
                        <input type="text" class="form-control" id="q2b" name="q2b">
                    </div>
                </div>
                <div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">C</span>
                        </div>
                        <input type="text" class="form-control" id="q2c" name="q2c">
                        <div class="input-group-prepend">
                            <span class="input-group-text">D</span>
                        </div>
                        <input type="text" class="form-control" id="q2d" name="q2d">
                    </div>
                </div>
                <div class="form-group col-md-6 offset-3">
                    <select id="selectAnswer2" class="form-control">
                        <option selected disabled>-- Select Correct Answer --</option>
                        <option value ="A" >A</option>
                        <option value ="B" >B</option>
                        <option value ="C" >C</option>
                        <option value ="C" >D</option>
                    </select>
                </div>
            </div>
            <hr />
            <div>
                <div>
                    <label for="q3">Question 3:</label>
                    <input type="text" id="q3" name="q3" style="width:100%">
                </div>
                <br />
                <div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">A</span>
                        </div>
                        <input type="text" class="form-control" id="q3a" name="q3a">
                        <div class="input-group-prepend">
                            <span class="input-group-text">B</span>
                        </div>
                        <input type="text" class="form-control" id="q3b" name="q3b">
                    </div>
                </div>
                <div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">C</span>
                        </div>
                        <input type="text" class="form-control" id="q3c" name="q3c">
                        <div class="input-group-prepend">
                            <span class="input-group-text">D</span>
                        </div>
                        <input type="text" class="form-control" id="q3d" name="q3d">
                    </div>
                </div>
                <div class="form-group col-md-6 offset-3">
                    <select id="selectAnswer3" class="form-control">
                        <option selected disabled>-- Select Correct Answer --</option>
                        <option value ="A" >A</option>
                        <option value ="B" >B</option>
                        <option value ="C" >C</option>
                        <option value ="C" >D</option>
                    </select>
                </div>
            </div>
            <hr />
            <div>
                <div>
                    <label for="q4">Question 4:</label>
                    <input type="text" id="q4" name="q4" style="width:100%">
                </div>
                <br />
                <div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">A</span>
                        </div>
                        <input type="text" class="form-control" id="q4a" name="q4a">
                        <div class="input-group-prepend">
                            <span class="input-group-text">B</span>
                        </div>
                        <input type="text" class="form-control" id="q4b" name="q4b">
                    </div>
                </div>
                <div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">C</span>
                        </div>
                        <input type="text" class="form-control" id="q4c" name="q4c">
                        <div class="input-group-prepend">
                            <span class="input-group-text">D</span>
                        </div>
                        <input type="text" class="form-control" id="q4d" name="q4d">
                    </div>
                </div>
                <div class="form-group col-md-6 offset-3">
                    <select id="selectAnswer4" class="form-control">
                        <option selected disabled>-- Select Correct Answer --</option>
                        <option value ="A" >A</option>
                        <option value ="B" >B</option>
                        <option value ="C" >C</option>
                        <option value ="C" >D</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="form-group" style="text-align:center">
                <input type="submit" value="Create Exam" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


<script type="text/javascript">
    function setArticleContent() {
        var ddlSource = "#select1";
        $('#display').html('<p>' + $(ddlSource).val() + '</p>');
    }
</script>
