@model List<Exam>

@{
    ViewData["Title"] = "List of Exams";
}

<div class="text-center">
    <h1 class="display-4">List of Exams</h1>
</div>

<table class="table">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Date</th>
        <th></th>
    </tr>
    @{int i = 0;}
    @foreach (var x in Model)
    {
        i++;
        <tr>
            <td>@i</td>
            <td><a href="/Exam/TakeExam/@x.ExamId" class="btn btn-link">@x.Title</a></td>
            <td>@x.Cdate</td>
            <td><a href="/ListExams/DeleteExam/@x.ExamId" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>